<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetTracker"
        tools:targetApi="31" >
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".ModeActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activity.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReportdataActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ReportActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_report" -->
        <!-- android:theme="@style/Theme.BudgetTracker.NoActionBar" /> -->
        <activity
            android:name=".activity.TransactionActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".activity.ExpenceActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".activity.IncomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>